<mat-card>
  <form (submit)="OnAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
       matInput
       type="text"
       ngModel
       name=title
       required
       minlength="3"
       placeholder="Post title"
       #title="ngModel"/>
    </mat-form-field>
    <mat-error *ngIf="title.invalid">Please enter a post title </mat-error>
    <mat-form-field>
      <textarea
      matInput
      rows="4"
      ngModel
      name="content"
      placeholder="Posts Content"
      #content="ngModel"
      required
      ></textarea>
    </mat-form-field>
    <mat-error *ngIf="content.invalid">Please enter a post  </mat-error>
    <button mat-raised-button color="warn">
      Save Post
    </button>

  </form>

</mat-card>
